@model StarterM.PaginatedList<StarterM.Models.Opera>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Opera List</h1>

    <form asp-action="Index" method="get">
        Title: @Html.TextBox("q")
        <input type="submit" />
    </form>
    <hr />




    <a asp-action="Create">Create</a>

    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-q="@ViewBag.q"
           asp-route-sortOrder="@ViewBag.sortOrder"
           >上一頁</a>
    }
    else
    {
        @:上一頁
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-q="@ViewBag.q"
           asp-route-sortOrder="@ViewBag.sortOrder"
           >下一頁</a>
    }
    else
    {
        @:下一頁
    }


    <table border="1">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m[0].OperaID)</th>
                <th>
                    <a asp-route-sortOrder="@ViewBag.titleSort" asp-route-q="@ViewBag.q">
                        @Html.DisplayNameFor(m => m[0].Title)
                    </a>
                </th>
                <th>
                    <a asp-route-sortOrder="@ViewBag.yearSort" asp-route-q="@ViewBag.q">
                        @Html.DisplayNameFor(m => m[0].Year)
                    </a>
                </th>
                <th>@Html.DisplayNameFor(m => m[0].Composer)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.OperaID)</td>
                    <td>@Html.DisplayFor(m => item.Title)</td>
                    <td>@Html.DisplayFor(m => item.Year)</td>
                    <td>@Html.DisplayFor(m => item.Composer)</td>
                    <td>
                        <a asp-action="details" asp-route-id="@item.OperaID">Details</a>
                        <a asp-action="edit" asp-route-id="@item.OperaID">Edit</a>
                        <a asp-action="delete" asp-route-id="@item.OperaID"
                           onclick="return confirm('確定要刪除【@item.Title】?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
